body {
    background-color: midnightblue;
}

.header {
    color: midnightblue;
    text-align: center;
    font-family: Palatino, serif;
    font-size: 80px;

}

.btn-group {
    background-color: white;
    color: grey;
    text-align: center;

}

.btn-group button:hover {
    background-color: deeppink;
    color: skyblue;
}
.info {
    text-align: center;
}